.items_container {
  float: right;
  height: 100px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_item {
  font-size: 18px;
  font-family: var(--ff);
  text-transform: capitalize;
  color: var(--fc-hd);
  float: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  transition: 0.3s;
  box-sizing: border-box;
}

.header_item:hover {
  transform: scale(1.1);
}

.header_item:hover .header_item_icon {
  transform: rotate(20deg);
  transition: 0.2s;
}

.header_item_icon {
  margin-right: 10px;
}

@media (max-width: 700px) {
  .items_container {
    width: 100px;
  }
  .header_item {
    font-size: 15px;
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 2px;
    box-sizing: border-box;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header_item:hover {
    transform: none;
  }
  .header_item:hover .header_item_icon {
    transform: none;
  }
  .header_item_icon {
    display: none;
  }
  .items_container {
    padding: 12px 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
