.header {
  height: 100px;
  background-color: var(--hc);
  padding: 0px 35px;
  top: 0;
}

.logo {
  height: 80px;
  margin-top: 10px;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  float: right;
}

@media (max-width: 900px) {
  .header {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
