.card {
  width: 450px;
  height: 400px;
  background-color: transparent;
  margin-bottom: 200px;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
}

.card_image {
  height: 320px;
}

.card_image {
  overflow: hidden;
}

.card_image img:hover {
  transform: scale(1.08);
}
.card_image img {
  transition: 0.6s;
  width: 100%;
}

.card_title {
  width: 100%;
  height: 100px;
  background-color: black;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: var(--ff);
  text-align: center;
}

@keyframes home_card_animation {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.home_card_animation {
  animation: home_card_animation 1.5s cubic-bezier(0.19, 0.66, 0.52, 0.97);
}

@media (max-width: 1200px) {
  .card {
    width: 600px;
  }
}

@media (max-width: 1200px) {
  .card {
    width: 500px;
    height: 300px;
  }
  .card_image {
    height: 250px;
  }

  .card_image img:hover {
    transform: none;
  }
  .card_title {
    height: 70px;
  }
}

@media (max-width: 700px) {
  .card {
    width: 300px;
  }
}
